<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>Intro</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
    <!-- Start of body content specific to page -->
    <h2>WELCOME TO THE JCC BACKEND</h2>
    <div id="image_topper" style="justify-content: center;">
        <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AEYmBYSqDcyxn7ZNzFxuuudw4HnuVXZLDMiTKsGhWbTXwW0Rx49eeWLxDdqIn-BhlVI9B4EFv1Re0ukBvz0mRk68BmuacWU5_A=w2880-h1386" style="width: 600px">
    </div>
    <!-- End of body content specific to page -->
</th:block>
</body>

</html>